<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body style="text-align:center; font-family:Arial; background:#0f172a; color:white;">

<h1>Welcome {{ user }} 👋</h1>

<a href="/logout">Logout</a>

<h2>Encrypt File</h2>
<form action="/encrypt" method="post" enctype="multipart/form-data">
    <input type="file" name="file"><br><br>
    <button>Encrypt</button>
</form>

<h2>Decrypt File</h2>
<form action="/decrypt" method="post" enctype="multipart/form-data">
    <input type="file" name="file"><br><br>
    <button>Decrypt</button>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p style="color:yellow;">{{ messages[0] }}</p>
  {% endif %}
{% endwith %}

</body>
</html>
