<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<style>
body {
    background: #0f172a;
    color: white;
    text-align: center;
    font-family: Arial;
}
.container {
    margin-top: 50px;
}
.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
}
input, button {
    padding: 10px;
    margin: 10px;
}
button {
    background: #38bdf8;
    border: none;
}
</style>
</head>

<body>

<h1>🚀 Cloud Security Dashboard</h1>

<div class="container">

<div class="card">
    <h3>Encrypt</h3>
    <form action="/encrypt" method="post">
        <input type="text" name="text" placeholder="Enter text">
        <button type="submit">Encrypt</button>
    </form>
</div>

<div class="card">
    <h3>Decrypt</h3>
    <form action="/decrypt" method="post">
        <input type="text" name="text" placeholder="Enter text">
        <button type="submit">Decrypt</button>
    </form>
</div>

</div>

</body>
</html>
