<!DOCTYPE html>
<html>
<head>
<title>Decrypt</title>
<style>
body {
    background:#020617;
    color:#ff0033;
    text-align:center;
    font-family:Arial;
}

.box {
    margin-top:150px;
}

input, button {
    padding:12px;
    width:250px;
    margin:10px;
    background:transparent;
    border:1px solid #ff0033;
    color:#ff0033;
}
</style>
</head>

<body>

<h1>🔓 Decryption Process</h1>

<div class="box">
<form method="POST">
<input type="text" name="text" placeholder="Enter encrypted text" required><br>
<button type="submit">Decrypt</button>
</form>
</div>

<br>
<a href="/dashboard">⬅ Back</a>

</body>
</html>
