<!DOCTYPE html>
<html>
<head>
<title>Encrypting...</title>

<script>
setTimeout(() => {
    window.location.href = "/encrypt/result?text={{ text }}";
}, 2500);
</script>

<style>
body {
    background:#020617;
    color:#00ffcc;
    text-align:center;
    font-family:Arial;
}

.loader {
    margin:150px auto;
    width:120px;
    height:120px;
    border:6px solid #111;
    border-top:6px solid #00ffcc;
    border-radius:50%;
    animation:spin 1.5s linear infinite;
}

@keyframes spin {
    100% { transform:rotate(360deg); }
}
</style>
</head>

<body>

<h1>Encrypting your data...</h1>
<div class="loader"></div>

</body>
</html>
