<!DOCTYPE html>
<html>
<head>
    <title>Cloud Security</title>
</head>
<body style="text-align:center; font-family:Arial; background:#0f172a; color:white;">

<h1>🔐 Cloud Security System</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p style="color:yellow;">{{ messages[0] }}</p>
  {% endif %}
{% endwith %}

<h2>Register</h2>
<form action="/register" method="post">
    <input name="u" placeholder="Username"><br><br>
    <input name="p" placeholder="Password"><br><br>
    <button>Register</button>
</form>

<h2>Login</h2>
<form action="/login" method="post">
    <input name="u" placeholder="Username"><br><br>
    <input name="p" placeholder="Password"><br><br>
    <button>Login</button>
</form>

</body>
</html>
