<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<style>
body{background:#020617;color:white;display:flex;justify-content:center;align-items:center;height:100vh;font-family:Arial;}
.card{padding:40px;border-radius:15px;background:#111;box-shadow:0 0 20px #00ffcc;text-align:center;}
input,button{margin:10px;padding:10px;width:250px;}
button{background:#00ffcc;border:none;}
</style>
</head>
<body>
<div class="card">
<h2>Register</h2>
<form method="POST">
<input name="username" placeholder="Username" required><br>
<input type="password" name="password" placeholder="Password" required><br>
<button>Register</button>
</form>
<a href="/login">Login</a>
</div>
</body>
</html>
